
<div class="login-container animated fadeInDown">
  <div class="loginbox bg-white">
    <div class="loginbox-title">LOG IN</div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="loginbox-textbox">
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: :email %>
        </div>

        <div class="loginbox-textbox">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: :password %>
        </div>

        <div class="loginbox-submit">
          <%= f.submit :login, class: 'btn btn-primary btn-block'%>
        </div>

    <% end %>

  </div>
</div>

