<form class="form-horizontal" role="form">
  <h1><%= @user.name %></h1>

  <div class="form-group">
    <div class="col-md-6">
      <label for="email" class="col-md-2 control-label no-padding-right">Email</label>
      <div class="col-md-10">
        <input type="text" class="form-control" id="email" disabled="disabled" value="<%= @user.email %>">
      </div>
    </div>

    <div class="col-md-6">
      <label for="grupo" class="col-md-2 control-label no-padding-right">Grupo</label>
      <div class="col-md-10">
        <input type="text" class="form-control" id="email" disabled="disabled" value="<%= @user.grupo.descricao %>">
      </div>
    </div>
  </div>
</form>