<div class="row">
  <div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="widget flat radius-bordered">
      <div class="widget-header bg-blue">
        <span class="widget-caption">Cadastro</span>
      </div>
      <div class="widget-body">
        <div id="registration-form">
            <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
  <%= link_to 'Voltar', igrejas_path %>