<div class="form-group">
  <%= label_tag :descricao, 'Descrição', class: 'col-md-1 control-label no-padding-right' %>
  <div class="col-md-11">
    <%= text_field_tag :descricao, @tipo_contribuicao.descricao, class: 'form-control', disabled: 'disabled' %>
  </div>
</div>