<%= form_for @tipo_contribuicao do |f| %>

    <%= render 'layouts/erros', object: @tipo_contribuicao %>

    <div class="form-group">
      <%= f.label :descricao, 'Descrição', class: 'col-md-1 control-label no-padding-right' %>
      <div class="col-md-11">
        <%= f.text_field :descricao, type: 'text', class: 'form-control' %>
      </div>
    </div>

    <br>

    <div class="form-group" align="center">
      <button type="submit" class="btn btn-default">Confirmar</button>
    </div>

<% end %>
